@font-face {
    font-family: "DMSerifDisplay";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: "DMSerifDisplay-Italic";
    src: url(./assets/fonts/DMSerifDisplay-Italic.ttf);
}
@font-face {
    font-family: "Jost";
    src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}
/* Resset CSS */
html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
    padding: 0;
}
button,
fieldset,
form,
input,
legend,
textarea,
select {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0;
}
a,
a * {
    cursor: pointer;
}
div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
}
hr,
img {
    border: 0;
}
applet,
iframe,
object {
    border: 0;
    margin: 0;
    padding: 0;
}
button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
label {
    cursor: pointer;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

:root {
    --base-size: 1.2rem;
    --scale: 1.25;
    --factor: 0.3;
    --radius: 1rem;
    --xl: calc(var(--h1) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);

    /*:: Colors */
    --color-dark: #1b1818;
    --color-gray-800: #464040;
    --color-gray-700: #646060;
    --color-gray-500: #878080;
    --color-gray-300: #a59c9c;
    --color-gray-200: #cfc5c5;
    --color-gray-100: #ece7e7;
    --color-light: rgb(250, 245, 244);
    --color-blue: #1e86b9;
    --color-blue-strong: #1c2f3a;
    --color-blue-light: #5687a0;
    --color-green: #058a71;
    --color-green-strong: #126b5b;
    --color-green-light: #43998b;
    --color-red: #ee3a59;
    --color-red-strong: #bd1532;

    /* Testing */
    --border-test: 1px solid black;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.font-xl {
    font-size: var(--xl);
}

h1,
.h1 {
    font-size: var(--h1);
    padding: 0 0 calc(var(--h1) * var(--factor));
}
h2,
.h2 {
    font-size: var(--h2);
    padding: 0 0 calc(var(--h2) * var(--factor));
}
h3,
.h3 {
    font-size: var(--h3);
    padding: 0 0 calc(var(--h3) * var(--factor));
}
h4,
.h4 {
    font-size: var(--h4);
    padding: 0 0 calc(var(--h4) * var(--factor));
}
h5,
.h5 {
    font-size: var(--h5);
    padding: 0 0 calc(var(--h5) * var(--factor));
}
h6,
.h6 {
    font-size: var(--h6);
    padding: 0 0 calc(var(--h6) * var(--factor));
}
p {
    font-size: var(--base-size);
}

/*::::::::::::::::::::::::::
  Color Classes    
  ::::::::::::::::::::::::::*/

.color-accent {
    color: var(--color-blue);
}
.color-accent-light {
    color: var(--color-blue-light);
}
.color-accent-strong {
    color: var(--color-blue-strong);
}
.color-ok {
    color: var(--color-green);
}
.color-ok-light {
    color: var(--color-green-light);
}
.color-ok-strong {
    color: var(--color-green-strong);
}
.color-alert {
    color: var(--color-red-strong);
}

.font-serif {
    font-family: "DMSerifDisplay";
}

.font-serif-italic {
    font-family: "DMSerifDisplay-Italic";
}
.font-sans {
    font-family: "Jost";
}

body {
    margin: 0;

    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    background-color: var(--color-light);
    color: var(--color-dark);
}

main {
    width: 800px;
    margin: auto;
}
section,
.section {
    padding: 3rem;
}

#app {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    border: none;
}

.score-board {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.quote-container {
    display: flex;
    flex-direction: row;
}

.quote {
    font-family: "DMSerifDisplay-Italic";
    line-height: 3.5rem;
    padding: 0 0 var(--h4);
    border: var(--border-test);
}

.content {
    border: none;
}

.answer-field {
    padding: var(--h4);
    border: 1px solid black;
}
.button-container {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

button.answer {
    width: 100%;
    border-radius: calc(var(--radius) * 1.5);
    padding: 1rem;

    font-size: var(--h6);
    font-family: "Jost";
}

button.answer-neutral {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
}

button.answer-wrong {
    color: var(--color-red-strong);
    background-color: var(--color-light);
    border: 4px solid var(--color-red-strong);
}
button.answer-right {
    color: var(--color-light);
    background-color: var(--color-green-strong);
    border: 4px solid var(--color-green-strong);
}

button.answer-disabled {
    color: var(--color-gray-500);
    background-color: var(--color-light);
    border: 4px solid var(--color-gray-500);
}

.answer-neutral:hover {
    background-color: var(--color-gray-100);
}

.answer-neutral:active {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: var(--color-light);
}

/* .answer:hover, .answer:active {
  color: var(--color-light);
  background-color: var(--color-blue-light);
  border: calc(var(--factor) * var(--h6)) solid var(--color-blue) ;
} */

@media screen and (max-width: 380px) {
    #app {
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    main {
        width: 100%;
        padding: 0;
    }
    .button-container {
        width: 90vw;
    }

    section,
    .section {
        padding: 0;
    }
}
