@font-face {
    font-family: "DMSerifDisplay";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
    font-family: "DMSerifDisplay-Italic";
    src: url(./assets/fonts/DMSerifDisplay-Italic.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}

/* Resset CSS */
html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
    padding: 0;
}

button,
fieldset,
form,
input,
legend,
textarea,
select {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

a,
a * {
    cursor: pointer;
}

div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;
}

hr,
img {
    border: 0;
}

applet,
iframe,
object {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input[type="button"],
input[type="image"],
input[type="reset"],
input[type="submit"],
label {
    cursor: pointer;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

:root {
    --base-size: 1.2rem;
    --scale: 1.25;
    --factor: 0.3;
    --radius: 1rem;
    --text-xl: calc(var(--h1) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --text-small: calc(var(--h6) * 0.5);

    /*:: Colors */
    --color-dark: #1b1818;
    --color-gray-800: #464040;
    --color-gray-700: #646060;
    --color-gray-500: #878080;
    --color-gray-300: #a59c9c;
    --color-gray-200: #cfc5c5;
    --color-gray-100: #ece7e7;
    --color-light: rgb(250, 245, 244);
    --color-blue: #1e86b9;
    --color-blue-strong: #1c2f3a;
    --color-blue-light: #5687a0;
    --color-green: #058a71;
    --color-green-strong: #126b5b;
    --color-green-light: #43998b;
    --color-red: #ee3a59;
    --color-red-strong: #bd1532;

    /* Testing */
    --border-test: 1px none black;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.font-xl {
    font-size: var(--xl);
}

h1,
.h1 {
    font-size: var(--h1);
    padding: 0 0 calc(var(--h1) * var(--factor));
    line-height: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
    padding: 0 0 calc(var(--h2) * var(--factor));
    line-height: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
    padding: 0 0 calc(var(--h3) * var(--factor));
    line-height: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
    padding: 0 0 calc(var(--h4) * var(--factor));
    line-height: var(--h4);
}

h5,
.h5 {
    font-size: var(--h5);
    padding: 0 0 calc(var(--h5) * var(--factor));
    line-height: var(--h5);
}

h6,
.h6 {
    font-size: var(--h6);
    padding: 0 0 calc(var(--h6) * var(--factor));
    line-height: var(--h6);
}

p {
    font-size: var(--base-size);
}

/*::::::::::::::::::::::::::
  Color Classes    
  ::::::::::::::::::::::::::*/

.color-accent {
    color: var(--color-blue);
}

.color-accent-light {
    color: var(--color-blue-light);
}

.color-accent-strong {
    color: var(--color-blue-strong);
}

.color-ok {
    color: var(--color-green);
}

.color-ok-light {
    color: var(--color-green-light);
}

.color-ok-strong {
    color: var(--color-green-strong);
}

.color-alert {
    color: var(--color-red-strong);
}

.font-serif {
    font-family: "DMSerifDisplay";
}

.font-serif-italic {
    font-family: "DMSerifDisplay-Italic";
}

.font-sans {
    font-family: "Jost";
}

body {
    margin: 0;

    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: "Jost";
}

/* :::: Header Desktop ::::*/
header,
app-header {
    width: 100%;
    display: flex;
    align-items: baseline;
    outline: var(--border-test);
}

.page-title {
    text-align: left;
    width: 80%;
}

.page-title a,
.page-title a:link,
.page-title a:visited {
    text-decoration: none;
    color: var(--color-gray-700);
}

.page-title a:hover {
    color: var(--color-gray-800);
}

.page-title a:active {
    color: var(--color-dark);
}

.nav-desk {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: var(--h5);
}

.nav-desk a {
    color: var(--color-gray-700);
    text-decoration: none;
}

.nav-desk a:hover {
    color: var(--color-gray-800);
    text-decoration: underline;
}

/* :::: Main ::::*/
main {
    width: 80%;
    margin: 0 auto 0 auto;
}

/* section,
.section {
    padding: 3rem;
} */

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

#app {
    margin: 0 auto;
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    height: 100vh;
}

.score-board {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: "DMSerifDisplay-Italic";
    line-height: 3.5rem;
    padding: var(--h4) 0 0 0;
    outline: var(--border-test);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: end;
    line-height: 3.5rem;

    width: 80%;
    padding: var(--h4) 0 0 0;
    outline: var(--border-test);
}

.quote h3 {
    text-align: center;
    padding: 0 4rem 0 4rem;
}

.score-board-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-family: "Jost";
    line-height: 3.5rem;
    padding: var(--h4) 0 0 0;
    outline: var(--border-test);
}

.content {
    border: none;
}

/* :::: Tries Stars Count ::::*/

.tries-left {
    padding: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    outline: var(--border-test);
}

.star-icon-empty {
    color: var(--color-blue-strong);
}

.star-icon-full {
    color: var(--color-blue-strong);
}

/* :::: Answer Buttons  ::::*/

.answer-field {
    padding: var(--h4);
    outline: var(--border-test);
}

.button-container {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--h6);
}

.message-container {
    width: 500px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--h6);
}

/* :::: Buttons  ::::*/

button.answer {
    width: 100%;
    border-radius: calc(var(--radius) * 1.5);
    padding: var(--text-small);

    font-size: var(--h6);
    font-family: "Jost";
}
button.answer a:link,
button.answer a:visited {
    color: var(--color-dark);
    text-decoration: none;
}

button.answer:active a {
    color: var(--color-light);
}

button.answer-neutral {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 2px solid var(--color-dark);
}

button.answer-wrong {
    color: var(--color-red-strong);
    background-color: var(--color-light);
    border: 2px solid var(--color-red-strong);
    transition:
        color 200ms,
        border 500ms;
    /* animation: neutral-wrong 1s ease 9s 2 forwards forwards; */
}

button.answer-right {
    color: var(--color-light);
    background-color: var(--color-green-strong);
    border: 2px solid var(--color-green-strong);
    transition:
        color 200ms,
        border 500ms,
        background-color 1000ms;
}

button.answer-reveal {
    color: var(--color-green);
    border: 2px solid var(--color-green);
    cursor: default;
}

button.answer-disabled {
    color: var(--color-gray-500);
    background-color: var(--color-light);
    border: 2px solid var(--color-gray-500);
    cursor: default;
    transition:
        color 500ms,
        border 1000ms;
}

.answer-neutral:hover {
    background-color: var(--color-gray-100);
}

.answer-neutral:active {
    background-color: var(--color-dark);
    color: var(--color-light);
    border-color: var(--color-light);
}

app-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: end;
    gap: var(--h4);
}

@keyframes neutral-wrong {
    0% {
        color: var(--color-dark);
        border: 2px solid var(--color-dark);
    }
    100% {
        color: var(--color-red-strong);
        border: 2px solid var(--color-red-strong);
    }
}

@media screen and (max-width: 380px) {
    #app {
        padding: 0;
        margin: 0;
    }

    main {
        width: 90%;
        padding: 0;
    }

    .button-container {
        width: 90%;
    }

    section,
    .section {
        padding: 0;
    }
}
